In [9]:
import pandas as pd

In [15]:
df = pd.DataFrame(columns = ['sgd_HdAdam', 'sgd_Hd', 'sgd_Hdmomentum', 'sgd', 'sgdn_Hd',
 'sgdn_Hdmomentum', 'sgdn', 'adam_HdAdam', 'adam', 'adam_Hd'])

In [16]:
df

Empty DataFrame
Columns: [sgd_HdAdam, sgd_Hd, sgd_Hdmomentum, sgd, sgdn_Hd, sgdn_Hdmomentum, sgdn, adam_HdAdam, adam, adam_Hd]
Index: []

In [17]:
df.index

Index([], dtype='object')

In [18]:
df['alpha0'] = pd.Series([0.01, 0.005, 0.001, 0.0005, 0.0001])

In [19]:
df

,sgd_HdAdam,sgd_Hd,sgd_Hdmomentum,sgd,sgdn_Hd,sgdn_Hdmomentum,sgdn,adam_HdAdam,adam,adam_Hd,alpha0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0100
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0050
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0010
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0005
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0001

In [30]:
df.loc[df['alpha0']==0.005, 'sgdn'] = 2

In [31]:
df

,sgd_HdAdam,sgd_Hd,sgd_Hdmomentum,sgd,sgdn_Hd,sgdn_Hdmomentum,sgdn,adam_HdAdam,adam,adam_Hd,alpha0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0100
1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0.0050
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0010
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0005
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0001

In [32]:
print(df)

  sgd_HdAdam sgd_Hd sgd_Hdmomentum  sgd sgdn_Hd sgdn_Hdmomentum sgdn  \
0        NaN    NaN            NaN  NaN     NaN             NaN  NaN
1        NaN    NaN            NaN  NaN     NaN             NaN    2
2        NaN    NaN            NaN  NaN     NaN             NaN  NaN
3        NaN    NaN            NaN  NaN     NaN             NaN  NaN
4        NaN    NaN            NaN  NaN     NaN             NaN  NaN

  adam_HdAdam adam adam_Hd  alpha0
0         NaN  NaN     NaN  0.0100
1         NaN  NaN     NaN  0.0050
2         NaN  NaN     NaN  0.0010
3         NaN  NaN     NaN  0.0005
4         NaN  NaN     NaN  0.0001