In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [2]:
sgd_adam = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgd_lopAdam.csv')
sgd_hd = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgd_lopHd.csv')
sgd_sgdn = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgd_lopSgdn.csv')
sgd = pd.read_csv('test/vgg/+1e-03_+1e-06/sgd.csv')

sgdn_hd = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgdn_lopHd.csv')
sgdn_sgdn = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgdn_lopSgdn.csv')
#sgdn_adam = pd.read_csv('test/vgg/+1e-03_+1e-03/opSgdn_lopAdam.csv') missing
sgdn = pd.read_csv('test/vgg/+1e-03_+1e-06/sgdn.csv')

adam = pd.read_csv('test/vgg/+1e-03_+1e-06/adam.csv')
adam_hd = pd.read_csv('test/vgg/+1e-03_+1e-08/opAdam_lopHd.csv')
adam_adam = pd.read_csv('test/vgg/+1e-03_+1e-08/opAdam_lopAdam.csv')
adam_sgdn = pd.read_csv('test/vgg/+1e-03_+1e-08/opAdam_lopSgdn.csv')

In [3]:
data = pd.DataFrame()
data['opSgd_lopAdam'] = sgd_adam['ValidLossEpoch']
data['opSgd_lopHd'] = sgd_hd['ValidLossEpoch']
data['opSgd_lopSgdn'] = sgd_sgdn['ValidLossEpoch']
data['sgd'] = sgd['ValidLossEpoch']
#data['opSgdn_lopAdam'] = sgdn_adam['ValidLossEpoch']
data['opSgdn_lopHd'] = sgdn_hd['ValidLossEpoch']
data['opSgdn_lopSgdn'] = sgdn_sgdn['ValidLossEpoch']
data['sgdn'] = sgdn['ValidLossEpoch']
data['opAdam_lopAdam'] = adam_adam['ValidLossEpoch']
data['opAdam_lopSgdn'] = adam_sgdn['ValidLossEpoch']
data['adam'] = adam['ValidLossEpoch']
data['opAdam_lopHd'] = adam_hd['ValidLossEpoch']

In [4]:
data_ = data.dropna(axis=0, how='all')

In [5]:
data_.head()

,opSgd_lopAdam,opSgd_lopHd,opSgd_lopSgdn,sgd,opSgdn_lopHd,opSgdn_lopSgdn,sgdn,opAdam_lopAdam,opAdam_lopSgdn,adam,opAdam_lopHd
0,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998
391,1.804394,1.829373,1.776247,2.296039,1.486405,1.502454,1.888291,1.791538,1.581945,1.535061,1.605668
782,1.710497,1.765957,1.639567,2.287166,1.454698,1.340567,1.643690,1.277227,1.098032,1.478133,1.472914
1173,1.650153,1.721478,1.585458,2.269959,1.548394,1.066260,1.473595,1.032093,0.903257,1.110452,1.101937
1564,1.756874,1.717490,1.510226,2.233999,0.915642,1.255687,1.381297,0.890243,0.831223,0.884405,0.868310

In [6]:
data_.reset_index(inplace = True)

In [9]:
data_.head()

,index,opSgd_lopAdam,opSgd_lopHd,opSgd_lopSgdn,sgd,opSgdn_lopHd,opSgdn_lopSgdn,sgdn,opAdam_lopAdam,opAdam_lopSgdn,adam,opAdam_lopHd
0,0,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998,2.302998
1,391,1.804394,1.829373,1.776247,2.296039,1.486405,1.502454,1.888291,1.791538,1.581945,1.535061,1.605668
2,782,1.710497,1.765957,1.639567,2.287166,1.454698,1.340567,1.643690,1.277227,1.098032,1.478133,1.472914
3,1173,1.650153,1.721478,1.585458,2.269959,1.548394,1.066260,1.473595,1.032093,0.903257,1.110452,1.101937
4,1564,1.756874,1.717490,1.510226,2.233999,0.915642,1.255687,1.381297,0.890243,0.831223,0.884405,0.868310

In [10]:
config = {}
config['opSgd_lopAdam'] = {'c':'darkred', 'linestyle':':'}
config['opSgd_lopHd'] = {'c':'black', 'linestyle':':'}
config['opSgd_lopSgdn'] = {'c':'blue', 'linestyle':':'}
config['sgd'] = {'c':'lime', 'linestyle':':'}
#config['opSgdn_lopAdam'] = {'c':'green', 'linestyle':'--'}
config['opSgdn_lopHd'] = {'c':'teal', 'linestyle':'--'}
config['opSgdn_lopSgdn'] = {'c':'purple', 'linestyle':'--'}
config['sgdn'] = {'c':'gold', 'linestyle':'--'}
config['opAdam_lopAdam'] = {'c':'darkturquoise', 'linestyle':'-'}
config['opAdam_lopSgdn'] = {'c':'lime','linestyle':'-'}
config['adam'] = {'c':'red', 'linestyle':'-'}
config['opAdam_lopHd'] = {'c':'chocolate', 'linestyle':'-'}

In [15]:
a = list(data.columns)
plt.figure()
for optimizer in a:
    data_[optimizer].plot(color = config[optimizer]['c'], linestyle = config[optimizer]['linestyle'])
plt.legend(loc = 'best')
plt.xlabel('Epochs')
plt.ylabel('Validation Loss')
plt.ylim(bottom= 0.25)

fig = matplotlib.pyplot.gcf()
fig.set_size_inches(18.5, 10.5)

#plt.show()
plt.savefig('Vgg_Valid_Loss.pdf', bbox_inches='tight')

In [13]:
a

['opSgd_lopAdam',
 'opSgd_lopHd',
 'opSgd_lopSgdn',
 'sgd',
 'opSgdn_lopHd',
 'opSgdn_lopSgdn',
 'sgdn',
 'opAdam_lopAdam',
 'opAdam_lopSgdn',
 'adam',
 'opAdam_lopHd']