In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [2]:
sgd_adam = pd.read_csv('test/logreg/+1e-03_+1e-03/sgd_HdAdam.csv')
sgd_hd = pd.read_csv('test/logreg/+1e-03_+1e-03/sgd_Hd.csv')
sgd_sgdn = pd.read_csv('test/logreg/+1e-03_+1e-03/sgd_Hdmomentum.csv')
sgd = pd.read_csv('test/logreg/+1e-03_+1e-06/sgd.csv')

sgdn_hd = pd.read_csv('test/logreg/+1e-03_+1e-03/sgdn_Hd.csv')
sgdn_sgdn = pd.read_csv('test/logreg/+1e-03_+1e-03/sgdn_Hdmomentum.csv')
sgdn_adam = pd.read_csv('test/logreg/+1e-03_+1e-03/sgdn_HdAdam.csv')
sgdn = pd.read_csv('test/logreg/+1e-03_+1e-06/sgdn.csv')

adam = pd.read_csv('test/logreg/+1e-03_+1e-06/adam.csv')
adam_hd = pd.read_csv('test/logreg/+1e-03_+1e-07/adam_Hd.csv')
adam_adam = pd.read_csv('test/logreg/+1e-03_+1e-07/adam_HdAdam.csv')
adam_sgdn = pd.read_csv('test/logreg/+1e-03_+1e-07/adam_Hdmomentum.csv')

In [3]:
sgd_adam.head()

,Epoch,Iteration,Time,Loss,LossEpoch,ValidLossEpoch,Alpha,AlphaEpoch,Beta
0,0,0,0.000000,2.197798,2.197798,2.285788,0.001000,0.001,0.001
1,1,1,0.035285,2.287352,NaN,NaN,0.001000,NaN,0.001
2,1,2,0.062239,2.367012,NaN,NaN,0.001744,NaN,0.001
3,1,3,0.088425,2.204499,NaN,NaN,0.002592,NaN,0.001
4,1,4,0.114034,2.225816,NaN,NaN,0.003492,NaN,0.001

In [4]:
data = pd.DataFrame()
data['sgd_HdAdam'] = sgd_adam['AlphaEpoch']
data['sgd_Hd'] = sgd_hd['AlphaEpoch']
data['sgd_Hdmomentum'] = sgd_sgdn['AlphaEpoch']
data['sgd'] = sgd['AlphaEpoch']
#data['sgdn_HdAdam'] = sgdn_adam['AlphaEpoch']
data['sgdn_Hd'] = sgdn_hd['AlphaEpoch']
data['sgdn_Hdmomentum'] = sgdn_sgdn['AlphaEpoch']
data['sgdn'] = sgdn['AlphaEpoch']
data['adam_HdAdam'] = adam_adam['AlphaEpoch']
#data['adam_Hdmomentum'] = adam_sgdn['AlphaEpoch']
data['adam'] = adam['AlphaEpoch']
data['adam_Hd'] = adam_hd['AlphaEpoch']

In [5]:
data.head()

,sgd_HdAdam,sgd_Hd,sgd_Hdmomentum,sgd,sgdn_Hd,sgdn_Hdmomentum,sgdn,adam_HdAdam,adam,adam_Hd
0,0.001,0.001,0.001,0.001,0.001,0.001,0.001,0.001,0.001,0.001
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_ = data.dropna(axis=0, how='all')

In [7]:
data_.head()

,sgd_HdAdam,sgd_Hd,sgd_Hdmomentum,sgd,sgdn_Hd,sgdn_Hdmomentum,sgdn,adam_HdAdam,adam,adam_Hd
0,0.001000,0.001000,0.001000,0.001,0.001000,0.001000,0.001,0.001000,0.001,0.001000
469,0.025049,0.030089,0.016300,0.001,0.016418,0.015148,0.001,0.001001,0.001,0.001153
938,0.019646,0.019306,0.010097,0.001,0.005881,0.009573,0.001,0.000997,0.001,0.001148
1407,0.011520,0.012238,0.005752,0.001,0.002053,0.007305,0.001,0.000991,0.001,0.001136
1876,0.003350,0.005848,0.006557,0.001,0.001332,0.005249,0.001,0.000982,0.001,0.001118

In [8]:
data_.reset_index(inplace = True)

In [9]:
len(data_)

21

In [10]:
a = list(data.columns)

In [15]:
a = [ 'sgd_Hd','sgd_Hdmomentum','sgd_HdAdam', 'sgdn_Hd', 'sgdn_Hdmomentum','adam_Hd','adam_HdAdam']

In [16]:
config = {}
config['sgd_HdAdam'] = {'c':'#1109ed', 'linestyle':'-.'}#03d1ff
config['sgd_Hd'] = {'c':'#1109ed', 'linestyle':'--'}
config['sgd_Hdmomentum'] = {'c':'#1109ed', 'linestyle':'-'}#11f505
config['sgd'] = {'c':'#d5a767', 'linestyle':'-'}
#config['sgdn_HdAdam'] = {'c':'green', 'linestyle':'-'}
config['sgdn_Hd'] = {'c':'#fa0207', 'linestyle':'--'}
config['sgdn_Hdmomentum'] = {'c':'#fa0207', 'linestyle':'-'}#f705b2
config['sgdn'] = {'c':'#0339ff', 'linestyle':'-'}
config['adam_HdAdam'] = {'c':'#257002', 'linestyle':'-'}#0df705
#config['adam_Hdmomentum'] = {'c':'lime','linestyle':'--'}
config['adam'] = {'c':'#fa4c05', 'linestyle':'-'}
config['adam_Hd'] = {'c':'#257002', 'linestyle':'--'}##11f505

In [17]:
plt.figure()
for optimizer in a:
    if optimizer not in ['adam', 'sgd', 'sgdn']:
        data_[optimizer].plot(color = config[optimizer]['c'], linestyle = config[optimizer]['linestyle'])
plt.legend(loc = 'best')
#plt.xlabel('Epochs')
plt.ylabel('Alpha')
plt.ylim(bottom= -0.001, top = 0.0325)

fig = matplotlib.pyplot.gcf()
fig.set_size_inches(18.5, 10.5)
#plt.axhline(y=0.2, color='r', linestyle='-')

#plt.show()
plt.savefig('./images/Logreg_Alpha.pdf', bbox_inches='tight')

In [14]:
data_

,index,sgd_HdAdam,sgd_Hd,sgd_Hdmomentum,sgd,sgdn_Hd,sgdn_Hdmomentum,sgdn,adam_HdAdam,adam,adam_Hd
0,0,0.001000,0.001000,0.001000,0.001,0.001000,0.001000,0.001,0.001000,0.001,0.001000
1,469,0.025049,0.030089,0.016300,0.001,0.016418,0.015148,0.001,0.001001,0.001,0.001153
2,938,0.019646,0.019306,0.010097,0.001,0.005881,0.009573,0.001,0.000997,0.001,0.001148
3,1407,0.011520,0.012238,0.005752,0.001,0.002053,0.007305,0.001,0.000991,0.001,0.001136
4,1876,0.003350,0.005848,0.006557,0.001,0.001332,0.005249,0.001,0.000982,0.001,0.001118
5,2345,0.001216,0.003055,0.006169,0.001,0.001188,0.005575,0.001,0.000974,0.001,0.001104
6,2814,0.003338,0.002934,0.008671,0.001,0.001941,0.008376,0.001,0.000970,0.001,0.001096
7,3283,0.003741,0.000655,0.005981,0.001,0.001032,0.007822,0.001,0.000959,0.001,0.001079
8,3752,0.002418,0.000160,0.004847,0.001,0.001597,0.007343,0.001,0.000949,0.001,0.001064
9,4221,0.007724,0.000106,0.007432,0.001,0.000886,0.003425,0.001,0.000936,0.001,0.001047
10,4690,0.004776,0.001182,0.007260,0.001,0.001408,0.007313,0.001,0.000923,0.001,0.001030
11,5159,0.005048,0.002605,0.006406,0.001,0.002442,0.005625,0.001,0.000911,0.001,0.001015
12,5628,0.005528,0.000309,0.003681,0.001,0.000719,0.004994,0.001,0.000900,0.001,0.001001
13,6097,0.003015,-0.000377,0.002568,0.001,0.000880,0.006919,0.001,0.000887,0.001,0.000984
14,6566,0.003767,0.002316,0.004625,0.001,0.001853,0.007869,0.001,0.000872,0.001,0.000967
15,7035,0.009236,0.001201,0.009416,0.001,0.002234,0.006250,0.001,0.000862,0.001,0.000955
16,7504,0.004272,0.000496,0.004357,0.001,0.002257,0.006669,0.001,0.000853,0.001,0.000943
17,7973,0.005401,0.001479,0.005653,0.001,0.002235,0.007670,0.001,0.000844,0.001,0.000931
18,8442,0.005676,0.001262,0.006282,0.001,0.001229,0.007298,0.001,0.000831,0.001,0.000915
19,8911,0.010089,0.003967,0.010248,0.001,0.003324,0.008165,0.001,0.000825,0.001,0.000906
20,9380,0.004122,0.003465,0.004619,0.001,0.001975,0.006225,0.001,0.000812,0.001,0.000890